@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
@import "tw-animate-css";

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

@custom-variant dark (&:is(.dark *));

* {
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */
  text-decoration: none;
  list-style: none;
}

:root {
  --color-base-300: oklch(92.462% 0.001 247.838);
  --color-base-200: oklch(98.462% 0.001 247.838);
  --color-base-100: oklch(100% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(90% 0.063 306.703);
  --color-primary-content: oklch(49% 0.265 301.924);
  --color-secondary: oklch(89% 0.058 10.001);
  --color-secondary-content: oklch(49% 0.265 10.001);
  --color-accent: oklch(90% 0.093 164.15);
  --color-accent-content: oklch(50% 0.118 165.612);
  --color-neutral: oklch(55% 0.046 257.417);
  --color-neutral-content: oklch(92% 0.013 255.508);
  --color-info: oklch(86% 0.127 207.078);
  --color-info-content: oklch(52% 0.105 223.128);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(52% 0.154 150.069);
  --color-warning: oklch(83% 0.128 66.29);
  --color-warning-content: oklch(55% 0.195 38.402);
  --color-error: oklch(80% 0.114 19.571);
  --color-error-content: oklch(50% 0.213 27.518);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--color-base-300);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  --font-roboto: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  color: #535353;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-base-100);
  color: var(--color-base-content);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* SLICK CAROUSEL CUSTOM STYLES */
.custom-next::before,
.custom-prev::before {
  color: red !important;
  font-size: 30px;
}

.custom-dot {
  width: 30px;
  height: 30px;
  color: red;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, color 0.3s ease;
}

.slick-dots li.slick-active .custom-dot {
  transform: scale(1.4);
  color: #e54c2a; /* Optional: highlight active color */
}
/* END OF SLICK CAROUSEL CUSTOM STYLES */

/* QUILL EDITOR STYLES */
.ql-editor {
  height: 200px !important;
}
/* END OF QUILL EDITOR CUSTOM STYLES */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* CUSTOM DIVIDER STYLES */
.divider-white {
  position: relative;

  &::before {
    background-color: #e54c2a;
    position: absolute;
    left: 50%;
    bottom: -20px;
    content: "";
    height: 1px;
    width: 150px;
    margin-left: -74px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    background-image: url("/images/divider-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 42px;
    height: 23px;
    margin-top: 7px;
  }
}

.divider-grey {
  position: relative;

  &::before {
    background-color: #e54c2a;
    position: absolute;
    left: 50%;
    bottom: -20px;
    content: "";
    height: 1px;
    width: 150px;
    margin-left: -74px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    background-image: url("/images/divider-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 42px;
    height: 23px;
    margin-top: 7px;
  }
}
/* END OF CUSTOM DIVIDER STYLES */

/* CUSTOM STYLES */
.custom-shadow {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
/* END OF CUSTOM STYLES */